{% extends "layout.html" %}

{% block content %}
<style>
.navbar-default {
    background-color: #FFFFFF;
    border-color: #CEE3F6;
  }
</style>

<nav class="navbar navbar-default navbar-fixed-top" >

	<!-- Navbar header --> 
	<div class="navbar-header">
   		<a class="navbar-brand" >Malcolm Ian Monroe</a>
	</div>

	<div class="divider"></div>

	<div class="collapse navbar-collapse">
		<a class="navbar-brand pull-right" ><h4 style="color:#8181F7">Malimo</h4></a>
	</div>

</nav>
<br>
<br></br>
<br>
{% set worker = work_data.experience %}
<div class="row"> <!-- Start of first row on page -->


		<div class="row">
 
		  <div class="col-md-3" "col-md-5">
		    <div class="thumbnail">
		      <img src="{{url_for('static', filename='media/my_profile_shot.jpg')}}" >
		      <div class="caption">
		        <h3>About Me</h3>
		        <p>
            I am a experienced Software Integration Engineer, having developed applications using Python and various python web development frameworks, databases and APIs.  I’m also comfortable working directly with customers having consulted on data ETL solutions. I enjoy solving complex problems and thrive in a work environment where innovation and collaboration are encouraged.  
            </p>
		    
		      </div>
        
		    </div>
		  </div>
		
		<div class="col-md-9">
    <h1> Education</h1>
      <p style="font-size: 15px; font:bold;"><a href="http://www.csulb.edu/">
      California State University Long Beach
      </a>
      <span style="font-size: 12px;">- MS Electrical Engineering - Emphasis in Power Electronics.</span>
      </p>
    
      <p style="font-size: 15px; font:bold;"><a href="http://www.csum.edu/">
      California Maritime Academy
      </a>
      <span style="font-size: 12px;">- Bachelors of Science, Marine Engineering</span>
      </p>
  
    <h1> Skills and Knowledge</h1>
    
      <p style="font-size: 15px; font:bold;">
      Currently learning: 
      <span style="font-size: 12px;">Salt, Django, Swift</span>
      </p>
      <p style="font-size: 15px; font:bold;">
      Proficient in:
      <span style="font-size: 12px;">Python, Javascript, Flask, Iron Worker, Iron Cache</span>
      </p>
      <p style="font-size: 15px; font:bold;">
      Familiar technologies:
      <span style="font-size: 12px;">Apache, Nginx, Redis, MySQL, Heroku, AWS</span>
      </p>

      <h1>Work History</h1> 
      <div id="accordion"> <!-- Start of accordion-->

      {% for work in worker.keys() %}
        {% set job = worker[work] %}
        <h4 style="color: #585858;">{{job.Company}}<span><h6>{{job.Title}}</h6></span><span><h6>{{job.Time}}</h6></span></h4>
          <div>
          <h5 style="font-weight:bold; ">Link: <a href="{{job.url}}" style="color: blue ; font-size: 11px;"> {{job.url}}</a></h5>
          <h5 style="font-weight:bold;">Responsibilites:<span style="float:right; position:relative; left:8px top:-10px;"><img src="/static/media/{{job.image}}" height="64" width=70px></span></h5>
          {% for line in job.Description %}
              <h6>
              {{line}}
              </h6>
          {% endfor %}
          {% if job.Technologies %}
            <h5 style="font-weight:bold;"> Technologies used: </h5>
            <h6>{{job.Technologies}}</h6>
          {% endif %}
          
          </div>
        
      {% endfor %}

      </div> <!-- End of accordion -->
    </div>

		</div>
		</div>

	</div>
</div>






{% endblock %}
{% block footer %}
       
<script type="text/javascript">

$(function() {
  $( "#accordion" ).accordion();
});










</script>








{% endblock %}